@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?31738770');
  src: url('../font/fontello.eot?31738770#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?31738770') format('woff'),
       url('../font/fontello.ttf?31738770') format('truetype'),
       url('../font/fontello.svg?31738770#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31738770#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-vimeo-squared:before { content: '\e800'; } /* '' */
.icon-linkedin-squared:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-rss-1:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-right-circled:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-facebook-1:before { content: '\e809'; } /* '' */
.icon-facebook-squared:before { content: '\e80a'; } /* '' */
.icon-tumblr:before { content: '\e80b'; } /* '' */
.icon-tumblr-squared:before { content: '\e80c'; } /* '' */
.icon-twitter-squared:before { content: '\e80d'; } /* '' */
.icon-twitter-1:before { content: '\e80e'; } /* '' */
.icon-vimeo:before { content: '\e80f'; } /* '' */
.icon-cancel-circled2:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-menu:before { content: '\e812'; } /* '' */
.icon-bookmark-empty:before { content: '\e813'; } /* '' */
.icon-youtube:before { content: '\e814'; } /* '' */
.icon-youtube-squared:before { content: '\e815'; } /* '' */
.icon-user:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-mail:before { content: '\e818'; } /* '' */
.icon-mail-alt:before { content: '\e819'; } /* '' */
.icon-print:before { content: '\e81a'; } /* '' */
.icon-print-1:before { content: '\e81b'; } /* '' */
.icon-print-2:before { content: '\e81c'; } /* '' */
.icon-print-3:before { content: '\e81d'; } /* '' */
.icon-rss:before { content: '\e81e'; } /* '' */
.icon-rss-squared:before { content: '\e81f'; } /* '' */
.icon-gplus:before { content: '\e820'; } /* '' */
.icon-gplus-squared:before { content: '\e821'; } /* '' */
.icon-gplus-1:before { content: '\e822'; } /* '' */
.icon-search:before { content: '\e823'; } /* '' */
.icon-search-1:before { content: '\e824'; } /* '' */
.icon-search-2:before { content: '\e825'; } /* '' */
.icon-search-3:before { content: '\e826'; } /* '' */
.icon-search-4:before { content: '\e827'; } /* '' */
.icon-search-5:before { content: '\e828'; } /* '' */
.icon-attach:before { content: '\e829'; } /* '' */
.icon-attach-1:before { content: '\e82a'; } /* '' */
.icon-restaurant:before { content: '\e82b'; } /* '' */